:root {
    --header-color: #a1a1aa;
    --header-color-hover: #fff;
}

body {background: #18181b;}

header {background: #18181b;}
#hero {background: #18181b;}
#hero h1 {color: #fff;}

footer {color: rgba(113, 113, 122, 1);}