@use "@/styles/_mixins" as *;

.bodyHealth {
    .info {
        text-align: center;
    }

    .cvBtn {
        margin: 2.5rem 0 0;
    }
}

.inputDigital {
    input {
        @include font-digital;
        font-size: 1.4rem;
        width: 150px;
    }
}

.result {
    text-align: end;
    font-size: 1.5rem;
    span {
        @include font-digital;
        font-weight: bold;
        font-size: 2rem;
    }
}

.glassPlate {
    width: 500px;
    margin: 0 auto;
}