@use "@/styles/_mixins" as *;

.bodyHealth {
    .info {
        text-align: center;
    }

    .cvBtn {
        margin: 2.5rem 0 0;
    }
}

.inputDigital {
    input {
        @include font-digital;
        font-size: 1.4rem;
    }
}

.result {
    @include font-digital;
    font-size: 2rem;
    font-weight: bold;
}

.glassPlate {
    width: 600px;
    margin: 0 auto;
}