.cvBtn {
    border: 1px solid var(--color-accent-400);
    padding: .5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-link);
    box-shadow: var(--shadow);
    display: inline-flex;
    align-items: center;
    gap: .5rem;

    &:hover {
        color: var(--color-link-hover);
        background: var(--color-accent-50);
    }
}

html[data-theme="dark"] {
    .cvBtn {
        &:hover {
            background: var(--color-accent-700);
        }
    }
}