.cvBtn {
    border: 1px solid var(--gray-300);
    padding: .5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--foreground-color);
    box-shadow: var(--shadow);
    gap: .5rem;
    display: inline-flex;
    align-items: center;

    &:hover {
        background: var(--gray-100);
    }
}