$width-mobile: 320px;
$width-xs: 576px;
$width-sm: 768px;
$width-md: 992px;
$width-lg: 1200px;
$width-xl: 1400px;
$width-xxl: 1600px;

$container-width-mobile: 100%;
$container-width-xs: 540px;
$container-width-sm: 720px;
$container-width-md: 960px;
$container-width-lg: 1140px;
$container-width-xl: 1320px;
$container-width-xxl: 1400px;

$border-radius: 1rem;
$input-height: 3rem;
$input-border-radius: 1rem;