$width-xs: 320px;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1400px;

$container-width-xs: 100%;
$container-width-sm: 560px;
$container-width-md: 740px;
$container-width-lg: 980px;
$container-width-xl: 1180px;
$container-width-xxl: 1380px;

$border-radius: 0.2rem;
$input-height: 3rem;
$input-border-radius: 0.2rem;

$formGrid-gap: 1rem;
$formGrid-columns: 12;