@use "colors" as *;
@use "variables" as *;
@use "mixins" as *;
@use "reset" as *;

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    @include theme-vars(default);
}

html[data-theme="dark"] {
    @include theme-vars(dark);
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-background-start);
    background: linear-gradient(to bottom,
            transparent,
            var(--color-background-end)) var(--color-background-start);
    line-height: 1.25;
    color: var(--color-foreground);
    @include font-body;
    font-weight: normal;
    font-size: 16px;
}

main {
    margin-top: 5rem;

    @media screen and (max-width: $width-lg) {
        margin-top: 4rem;
    }

    @media screen and (max-width: $width-md) {
        margin-top: 3rem;
    }

    @media screen and (max-width: $width-sm) {
        margin-top: 2rem;
    }
}

.container,
.container-fluid {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: $width-sm) {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
}

.container {
    @include container-size;
}

.container-fluid {
    width: 100%;
    box-sizing: border-box;
}

a {
    text-decoration: underline;
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-h);
}

h1,
h2,
h3 {
    @include font-accent;
}

h1 {
    text-align: center;
    @include h-size(h1);
}

h2 {
    @include h-size(h2);
    text-transform: lowercase;
}

h3 {
    @include h-size(h3);
    text-transform: lowercase;
}

h4 {
    @include h-size(h4);
}

h5,
h6 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
    margin: 0 0 0.5em;
}

.form-horizontal .form-row,
.form-row.form-horizontal {
    gap: 0.2rem 1rem;
    margin-bottom: 1rem;
    align-items: center;

    label {
        vertical-align: bottom;
    }

    @media (min-width: $width-sm) {
        gap: 1rem 1rem;

        label {
            text-align: right;
            vertical-align: middle;
        }
    }
}