@use "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700&display=swap');



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.content {min-height: 90vh; padding: 1rem 0 0 1rem;}
* + h2 {margin-top: 3rem;}

a:hover {color: var(--accent-light);}
.input-group-text {background-color: var(--accent-pale);}



.home {
    .header {
        height: 50vh;
        padding-top: 100px;
        text-align: center;
        h1 {
            font-size: 5rem;
            font-weight: 900;
        }
        .desc {
            font-size: 1.6rem;
            font-weight: 700;
        }
    }
}



@media (min-width: 992px) {
    .navbar .topNav {
        justify-content: center;
        font-size: 1rem;
    }
    .navbar {
        .topNav {
            .nav-item {
                margin: 0 20px;
                .nav-link {
                    padding: 0; color: var(--black);
                    &:hover {color: var(--accent-light);}
                }
            }
        }
    }
}


@media (min-width: 1920px) {
    .home {
    }
}


