@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #000;
  --background-start: #f5f5f5;
  --background-end: #d8dbe4;

  --header-color: #52525b;
  --header-color-hover: #18181b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #ccc;
        --background-start: #18181b;
        --background-end: #000;
        
        --header-color: #a1a1aa;
        --header-color-hover: #fff;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

header, 
header a,
header .menu-btn,
header #main-nav li,
header .sns-links
{
    color: var(--header-color);
    fill: var(--header-color);
    stroke: var(--header-color);
    border-color: var(--header-color);
}

header a:hover {
    color: var(--header-color-hover);
    fill: var(--header-color-hover);
    stroke: var(--header-color-hover);
}


p {
  margin-bottom: 5px;
}
