@use "@/styles/_mixins" as *;
@use "@/styles/_variables" as *;

.cvBtn {
    padding: 0 1rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: .5rem;
    height: 40px;
    border-radius: $input-border-radius;

    background: var(--color-contrast-70);
    color: var(--color-contrast-0);

    &:hover {
        background-color: var(--color-contrast-90);
        color: var(--color-contrast-0);
    }

    &:active {
        background-color: var(--color-contrast-100);
        color: var(--color-contrast-0);
    }

    span {
        white-space: nowrap;
    }
}