@use "@/styles/variables" as *;

.footer {
    border-top: 1px solid var(--color-divider);
    margin-top: 4rem;

    .container {
        flex-direction: row;
        gap: 1rem;
        padding-block: 1rem;
        justify-content: space-between;
        align-items: flex-end;
    }

    .left {
        display: flex;
        align-items: center;
    }

    .copy {
        color: var(--color-muted);
        font-size: 0.9rem;
    }

    @media screen and (max-width: $width-md) {
        .container {
            width: 100%;
            max-width: unset;
            min-width: 260px;
        }
    }

    @media screen and (max-width: $width-sm) {
        .container {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.75rem;
        }
    }
}

.snsVertical {
    :global(ul) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }
}
