@use "@/styles/variables" as *;
@use "@/styles/_mixins" as *;

.header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .logo {
        justify-self: start;
        text-decoration: none;
    }

    .nav {
        justify-self: center;

        ul {
            display: flex;
            gap: clamp(1rem, 4vw, 3rem);
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: var(--color-foreground);
            font-weight: 500;

            &:hover {
                color: var(--color-link-hover);
                text-decoration: underline;
            }
        }
    }

    .actions {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        button {
            font-size: 1.25rem;
            height: 2rem;
            width: 2rem;
            padding: 0;
            border: none;

            @include border-radius(2rem);
        }

        .sns {
            ul {
                gap: 1rem;

                li a {
                    padding: 0.15rem 0 0;
                }
            }
        }

        @media screen and (max-width: $width-sm) {
            gap: 0.5rem;

            button {
                font-size: 1.5rem;
                height: 2.4rem;
                width: 2.4rem;

                @include border-radius(2.4rem);
            }
        }
    }

    .menuBtn {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        color: var(--color-light-50);

        :global([data-theme="dark"]) & {
            &:active {
                color: var(--color-light-60);
            }
        }
    }

    @media screen and (max-width: $width-md) {
        .container {
            width: 100%;
            max-width: unset;
            min-width: 260px;
        }
    }
}