@use "@/styles/variables" as *;

.header {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .logo {
        justify-self: start;
        text-decoration: none;
    }

    .nav {
        justify-self: center;

        ul {
            display: flex;
            gap: clamp(1rem, 4vw, 3rem);
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: var(--color-foreground);
            font-weight: 500;

            &:hover {
                color: var(--color-link-hover);
            }
        }
    }

    .actions {
        justify-self: end;
        display: flex;
        align-items: center;
        gap: 1.5rem;

        button {
            font-size: 1.25rem;
            min-height: 30px;
            min-width: 30px;
        }

        .sns {
            ul {
                gap: 1rem;

                li a {
                    padding: 0.15rem 0 0;
                }
            }
        }
    }

    .menuBtn {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: none;
        color: var(--color-gray-500);
    }
}



html[data-theme="dark"] {
    .header {
        .menuBtn {
            &:active {
                span {
                    background: var(--color-gray-400);
                }
            }
        }
    }
}

@media screen and (max-width: $width-sm) {
    .header {
        .actions {
            gap: 0.5rem;

            button {
                font-size: 1.5rem;
                min-height: 36px;
                min-width: 36px;
            }
        }
    }
}