@use "@/styles/variables" as *;

.logo {
    display: inline-flex;
    align-items: center;
    gap: .2rem;
    color: var(--color-contrast-60);

    .icon {
        width: 1rem;
        height: 1rem;
        color: var(--color-contrast-40);
    }

    .wordmark {
        font-size: 1.6rem;
    }

    &:hover {
        color: var(--color-contrast-80);

        .icon {
            color: var(--color-contrast-60);
        }
    }
}



@media screen and (max-width: $width-sm) {
    .logo {
        .icon {
            width: 1.2rem;
            height: 1.2rem;
        }

        .wordmark {
            font-size: 1.2rem;
        }
    }
}