@use "@/styles/variables" as *;

.logo {
    display: inline-flex;
    align-items: center;
    gap: .2rem;
    color: var(--color-link);

    .icon {
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--color-link);
        stroke: var(--color-link);
    }

    .wordmark {
        font-size: 1.6rem;
    }

    &:hover {
        color: var(--color-link-hover);

        .icon {
            fill: var(--color-link-hover);
            stroke: var(--color-link-hover);
        }
    }
}



@media screen and (max-width: $width-sm) {
    .logo {
        .icon {
            width: 1.2rem;
            height: 1.2rem;
        }
        .wordmark {
            font-size: 1.2rem;
        }
    }
}