@use "@/styles/variables" as *;

.logo {
    display: inline-flex;
    align-items: center;
    gap: .2rem;
    color: var(--color-link);

    .tri {
        width: 40px;
        height: 40px;
        fill: var(--color-link);
        stroke: var(--color-link);
    }

    .wordmark {
        font-size: 1.2rem;
    }

    &:hover {
        color: var(--color-link-hover);

        .tri {
            fill: var(--color-link-hover);
            stroke: var(--color-link-hover);
        }
    }
}



@media screen and (max-width: $width-sm) {
    .logo {
        .tri {
            width: 32px;
            height: 32px;
        }
    }
}