.toggle {
    appearance: none;
    background: transparent;
    border: none;
    padding: .5rem .6rem;
    border-radius: 8px;
    color: var(--color-foreground);
    font-size: 1.4rem;
    cursor: pointer;
}