.toggle {
    appearance: none;
    background: transparent;
    border: none;
    padding: .5rem .6rem;
    border-radius: 8px;
    color: var(--foreground-color);
    font-size: 1rem;
    cursor: pointer;
}
