.button {
    background-color: transparent;
    color: var(--color-link);
    padding: 0.25rem;
    border-width: 1px;
    border-radius: 0.325rem;
    transition: background-color 0.3s;

    &:hover {
        color: var(--color-link-hover);
        background-color: var(--color-gray-300);
    }

    &:active {
        color: var(--color-link-hover);
        background-color: var(--color-gray-200);
    }

    :global([data-theme="dark"]) & {
        &:hover {
            background-color: var(--color-gray-700);
        }

        &:active {
            background-color: var(--color-gray-600);
        }
    }
}