@use "@/styles/_variables" as *;

.button {
    padding: 0.25rem;
    background-color: var(--color-contrast-10);
    border: 1px solid var(--color-contrast-30);
    border-radius: $input-border-radius;
    transition: background-color 0.3s;
    color: var(--color-text);

    &:hover {
        background-color: var(--color-contrast-30);
    }

    &:active {
        background-color: var(--color-contrast-50);
    }

    // Disabled state
    &.disabled, &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}