button {
    background-color: var(--color-gray-dark);
    color: #fff;
    text-transform: capitalize;
    padding: .25rem 0;
    border-width: 1px;
    border-radius: .375rem;
    display: block;
    margin: 0.5rem auto;
    font-size: 1.25rem;
    font-weight: bold;
    transition: background-color 0.3s;

    &:hover {
        background-color: var(--color-gray);
    }

    &:active {
        background-color: var(--color-gray-darkest);
    }
}