@use 'sass:color';
@use "@/styles/_variables" as *;

.row {
    display: grid;
    grid-template-columns: repeat($formGrid-columns, minmax(0, 1fr));
}


.cell {
    grid-column: span var(--fc-col, $formGrid-columns);
}

@media (min-width: $width-xs) {
    .cell {
        grid-column: span var(--fc-col-xs, var(--fc-col, $formGrid-columns));
    }
}

@media (min-width: $width-sm) {
    .cell {
        grid-column: span var(--fc-col-sm, var(--fc-col-xs, var(--fc-col, $formGrid-columns)));
    }
}

@media (min-width: $width-md) {
    .cell {
        grid-column: span var(--fc-col-md, var(--fc-col-sm, var(--fc-col-xs, var(--fc-col, $formGrid-columns))));
    }
}

@media (min-width: $width-lg) {
    .cell {
        grid-column: span var(--fc-col-lg, var(--fc-col-md, var(--fc-col-sm, var(--fc-col-xs, var(--fc-col, $formGrid-columns)))));
    }
}

@media (min-width: $width-xl) {
    .cell {
        grid-column: span var(--fc-col-xl, var(--fc-col-lg, var(--fc-col-md, var(--fc-col-sm, var(--fc-col-xs, var(--fc-col, $formGrid-columns))))));
    }
}

@media (min-width: $width-xxl) {
    .cell {
        grid-column: span var(--fc-col-xxl, var(--fc-col-xl, var(--fc-col-lg, var(--fc-col-md, var(--fc-col-sm, var(--fc-col-xs, var(--fc-col, $formGrid-columns)))))));
    }
}