.glassPlate {
    padding: 2rem;
    border-radius: 0.5rem;

    border: 1px solid rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

    :global([data-theme="dark"]) & {
        border: 1px solid rgba(255, 255, 255, 0.05);
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
}