.glassPlate {
    padding: 2rem;
    border-radius: 0.5rem;

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);

    :global([data-theme="dark"]) & {
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0 0.3rem 2rem rgba(255, 255, 255, 0.1);
    }
}