@use 'sass:color';
@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

    .input {
        z-index: 1;
    }

    .side {
        font-size: 1rem;
        color: var(--color-contrast-60);
        background-color: var(--color-contrast-10);
        border: 1px solid transparent;

        &.left {
            border-right: none;
        }

        &.right {
            border-left: none;
        }
    }

    .input,
    .side {
        border-radius: 0;
        line-height: $input-height;
        height: $input-height;
        box-sizing: content-box;
        border-color: var(--color-contrast-20);
        padding-inline: 0.6rem;
        padding-block: 0;
    }

    .left {
        border-top-left-radius: $input-border-radius;
        border-bottom-left-radius: $input-border-radius;
    }

    .right {
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }
}