@use 'sass:color';
@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;

    .input,
    .side {
        border: 1px solid var(--color-gray-400);
        border-radius: 0;
        padding-inline: 1em;
        padding-block: 0;
        line-height: $input-height;
        height: $input-height;
        box-sizing: content-box;
    }

    .input {
        z-index: 1;
    }

    .side {
        font-size: 1rem;
        color: var(--color-gray-600);
        background: var(--color-gray-200);

        :global(.dark) & {
            background: #a1a1aa;
            color: #3f3f46;
            border-color: #a1a1aa;
        }

        &.left {
            border-right: none;
        }

        &.right {
            border-left: none;
        }
    }

    .left {
        border-top-left-radius: $input-border-radius;
        border-bottom-left-radius: $input-border-radius;
    }

    .right {
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }
}