@use 'sass:color';
@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;

.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;

    .input,
    .side {
        border-radius: 0;
        line-height: $input-height;
        height: $input-height;
        box-sizing: content-box;


        :global([data-theme="dark"]) & {
            border-color: var(--color-light-30);
        }
    }

    .input {
        z-index: 1;
    }

    .side {
        font-size: 1rem;
        color: var(--color-light-40);
        background: var(--color-light-90);
        border: 1px solid var(--color-light-85);
        padding-inline: 1em;
        padding-block: 0;

        :global([data-theme="dark"]) & {
            background-color: var(--color-light-20);
            color: var(--color-light-60);
        }

        &.left {
            border-right: none;
        }

        &.right {
            border-left: none;
        }
    }

    .left {
        border-top-left-radius: $input-border-radius;
        border-bottom-left-radius: $input-border-radius;
    }

    .right {
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }
}