@use "@/styles/_mixins" as *;

.tagCloud {
    .tag {
        display: inline-block;
        margin-inline-end: 1rem;
        margin-block-end: 0.5rem;
        vertical-align: middle;
        white-space: nowrap;
    }

    .sizeXs {
        font-size: 0.8rem;
    }

    .sizeSm {
        font-size: 0.9rem;
    }

    .sizeBase {
        font-size: 1rem;
    }

    .sizeLg {
        font-size: 1.2rem;
    }

    .sizeXl {
        font-size: 1.4rem;
    }

    .variantL4 {
        padding-inline: 0.75rem;
        height: 2rem;
        line-height: 2rem;

        @include border-radius(2rem);

        background: var(--color-light-90);
        border: 1px solid var(--color-light-90);

        :global([data-theme="dark"]) & {
            background-color: var(--color-light-20);
            border-color: var(--color-light-20);
        }
    }

    .variantTop {
        padding-inline: 0.75rem;
        height: 2.2rem;
        line-height: 2.2rem;

        @include border-radius(2.2rem);

        background: var(--color-light-100);
        border: 1px solid var(--color-light-50);

        :global([data-theme="dark"]) & {
            color: #eeeeee;
            background-color: var(--color-light-20);
            border-color: var(--color-light-60);
        }
    }
}